@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    const host = "http://localhost:5000";

    async function onUrlClicked(url) {
        const slug = await getSlug(url);

        if (slug == null) {
            alert("Invalid Url.");
            return;
        }

        alert('Short Url created: /' + slug);
    }

    async function onAllUrlsClicked() {
        const urls = await getUrls();

        $("#urls-container").empty();

        $.each(urls, function (i, url) {
            $("#urls-container").append("<li id='url_" + url.id + "'><a href='"
                                            + host + "/" + url.slug + "'>/" + url.slug + " (" + url.url + ")</a></li>");
        });
    }
</script>

<div class="text-center">
    <h1 class="display-4">Welcome to Url Shortener</h1>
</div>

<div>
    <div>
        <h3>Type url to shorten</h3>
        <input type="text" id="url" name="url" />
        <input type="button" value="Generate Short Url"
               onclick="onUrlClicked($('#url').val())" />
        <br />
    </div>
    <div>
        <h1>&nbsp;</h1>
        <h3>Click to display all your shortened urls</h3>
        <input type="button" value="Get All My Urls"
               onclick="onAllUrlsClicked()" />
    </div>
</div>

<div>
    <ul id="urls-container"></ul>
</div>